body{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.callout-container {
    height: 100vh;

    background: url('../images/logo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.navbar {
    background-color: #505C5C;
}
.container {
    opacity: 0.7;
}

.reviews-container {
    background-color: none;
    height: 80vh;
}

.features-container {
    background-color: #505C5C;
}

#cap,
.feature-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}

footer {
    padding: 20px;
    text-align: center;
}